<app-header></app-header>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-5 mt-5">
      <h1 class="text-header-title">Pomoc w zarządzaniu gospodarstwem</h1>
      <p class="text-p-title">MAgro pomaga rolnikom generować dodatkowe dochody i poprawiać jakość gleby</p>
      <button type="button" class="btn btn-success pt-2 pb-2 ps-3 pe-3 mt-4 me-5 button-color-readmore button-text">
        Czytaj więcej o aplikacji
      </button>
    </div>
    <div class="col-md-1 mt-5"></div>
    <div class="col-md-6 mt-5">
      <img width="100%" class="fields" src="../assets/dzialki.jpg" alt=""/>
    </div>
  </div>
  <br/>
</div>

